


.bg-green {
    background-color: #0D9276 !important;
    color: #fffffff5 !important;
    font-weight: 600;
    border: 2px solid #0D9276;
}
.bg-gray {
    background-color: #545556 !important    ;
    color: hsl(0, 0%, 100%) !important;
}


.bg-gray-shade {
    background-color: #585b5d4a !important    ;
    color: #D8D9DA !important;
}
/* Custom Text-color */
